img{
    width:300px;
}
h1{ 
    color:pink;
}
p{
    color:pink;
}
h4{
    color:yellow;
}
ul{
    color:red;
}
body{
    background-color:red;
    
}
h3{
    color:yellow;

font-family: 'Lobster', cursive;
}